body {
    color:rgb(253, 252, 175);
    background:rgb(100, 247, 178)

}
.heading{
    width:80%;
    font-size: 22px;
}
#camera{
    border: 2px ridge rgb(0, 38, 255) ;
    width: 350px;
    height:300px ;
}
.name_of_objects,#result_objects_name,#result_objects_accuracy{
    color: rgb(143, 13, 175);
}
